<a href="https://colab.research.google.com/github/FredLongo/DataMiningProject/blob/main/codesandbox/SQLiteTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#from sqlalchemy import create_engine
#my_conn=create_engine("my_db.db")

import sqlite3

In [2]:
conn = sqlite3.connect("sqltest.db")

In [3]:

# Create a cursor object using the cursor() method
cursor = conn.cursor()

In [10]:
# SQL command to create a table
create_table_command = """
CREATE TABLE class (
    grade TEXT,
    name TEXT
);
"""

In [5]:
# Execute the SQL command
cursor.execute(create_table_command)

In [11]:
list_tables_command = "SELECT name FROM sqlite_master WHERE type='table';"

cursor.execute(list_tables_command)

In [12]:
tables = cursor.fetchall()
for table in tables:
  print(table[0])

class

In [29]:
from re import I
# Data to be inserted
data_to_insert = [
    ('A', 'JohnDoe'),
    ('B', 'JaneSmith'),
    ('C', 'EmilyJohnson')
]

# Insert data into the table
for data in data_to_insert:
    insert_command = f"INSERT INTO class (grade, name) VALUES ('{data[0]}', '{data[1]}')"
    cursor.execute(insert_command)
    #print(insert_command)

In [33]:
#Show all class table
# SQL command to select all rows from the table
select_all_command = "SELECT * FROM class;"

# Execute the command
cursor.execute(select_all_command)

# Fetch all the rows from the executed query
rows = cursor.fetchall()

# Iterate through rows and print them
for row in rows:
    print(row)

('A', 'John Doe')
('B', 'Jane Smith')
('C', 'Emily Johnson')
('A', 'JohnDoe')
('B', 'JaneSmith')
('C', 'EmilyJohnson')

In [38]:
# SQL command to selct all A students
select_a_students = "SELECT * FROM class WHERE grade='A';"

cursor.execute(select_a_students)

In [39]:
A_list = cursor.fetchall()

In [40]:
for student in A_list:
  print(student[1])

John Doe
JohnDoe

In [18]:
A_list

[('class',)]

In [42]:
# Commit the changes and close the connection
conn.commit()
conn.close()